<ng-container *ngIf="movie$ | async as movie">
  <h3 class="title">{{ movie.title }}</h3>

  <span class="director"><b>Director:</b> {{ movie.director }}</span>
  <span class="producer"><b>Producer:</b> {{ movie.producer }}</span>
  <span class="release-date"
    ><b>Release date:</b> {{ movie.release_date }}</span
  >
  <p class="opening-crawl">{{ movie.opening_crawl }}</p>

  <div class="grid">
    <ng-container *ngFor="let character of characters$ | async">
      <div
        *ngIf="character.status === EntityStatus.Loaded; else placeholder"
        class="card"
        role="button"
        tabindex="0"
        (click)="handleClick(character.url)"
        (keyup.enter)="handleClick(character.url)"
      >
        <h3 class="name">{{ character.name }}</h3>

        <span><b>Height:</b> {{ character.height }}</span>
        <span><b>Mass:</b> {{ character.mass }}</span>
        <span><b>Gender:</b> {{ character.gender }}</span>
      </div>

      <ng-template #placeholder>
        <div class="card placeholder pulse">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </ng-template>
    </ng-container>
  </div>
</ng-container>
