@font-face {
  font-family: Aleo;
  src: url(./assets/Aleo.ttf);
}

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Aleo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.placeholder {
  cursor: default;

  div {
    background: #e8e8e8;
  }

  .line {
    width: 10rem;
    height: 0.8rem;
    margin-bottom: 0.5rem;
  }

  &.pulse div {
    animation: pulse 1s infinite ease-in-out;
  }
}
